body{
    background-image: url("Pictures/jonatan-pie-3l3RwQdHRHg-unsplash.jpg");

}
#container{

    text-align: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}
#head{
    color: darkgray;
    grid-column: 1 /11;
    grid-row: 1;
    font-size: 24px;
}
#side1{

    display: none;
    background-image: linear-gradient(to left, darkgray, cyan);
    grid-row: 2;
    grid-column: 1/3;
}

section{
    padding: 1%;
    text-align: left;
    height: 650px;
    grid-column: 3/9;
    grid-row: 2;
}
#side2{
    grid-column: 9/11;
    grid-row: 2;
}
footer{
    grid-column: 1/11;
    grid-row: 3;
}
#more{
    background-color: darkgray;
    border: 1px solid black;
    font-size: 15px;
}
#more:hover{
    background-color: black;
    color: darkgray;
}
#b1{
    text-align: left;
    background: none;
    color: cyan;
    border: 0;
}
#b2{
     text-align: left;
     background: none;
     color: cyan;
     border: 0;
 }
#b3{
      text-align: left;
      background: none;
      color: cyan;
      border: 0;
  }
.About{
    background-image: linear-gradient(to bottom, gray, cyan);
    display: none;
    background-color: darkgray;
}
#about1{
    background-image: linear-gradient(to bottom left, gray, cyan);
    display: none;
    grid-row: 2;
    grid-column: 1/3;
}
#about2{
    background-image: linear-gradient(to bottom right, gray, cyan);
    grid-column: 9/11;
    grid-row: 2;
}
.Proj{
    display: none;
    background-image: linear-gradient(to bottom, gray, cyan);
}
#pro1{
    display: none;
    grid-row: 2;
    grid-column: 1/3;
    background-image: linear-gradient(to bottom left, gray, cyan);
}
#pro2{
    grid-column: 9/11;
    grid-row: 2;
    background-image: linear-gradient(to bottom right, gray, cyan);
}
.Cont{
    display: none;
    background-image: linear-gradient(to bottom, gray, cyan);
}
#con1{
    display: none;
    grid-row: 2;
    grid-column: 1/3;
    background-image: linear-gradient(to bottom left, gray, cyan);
}
#con2{
    grid-column: 9/11;
    grid-row: 2;
}
#welcome{
    color: cyan;
    font-size: 50px;
    text-align: center;
}
.buddy{
    font-size: 20px;
}
img{
    border: 3px solid black;
}
#code:hover{
    border-color: yellow;
}
table{
    width: 100%;
    text-align: center;
    padding-top: 0;
}
td{
    padding-top: 0;
}
.pic{
    padding: 1%;
    border: 0;
}
#project{
    font-size: 30px;
    text-align: center;
}
.project{
    text-align: center;
}
p{
    font-size: 20px;
}
.t1,.f1{
    font-size: 20px;
    display: block;
}
.f1{
    padding-top: 5%;
}
.t1{
    width: 75%;
}
#big{

    padding-left: 20%;
    padding-right: 20%;
}
fieldset{
     border: black 3px solid;

}
#sum{
    width: 30%;
    margin-top: 5%;
    border: black 1px solid;
    background-color: cyan;
}
#sum:hover{
    background-color: black;
    color: darkgray;
}

#gform{
    text-align: center;
    width: 25%;
    margin-top: 5%;
    border: black 1px solid;
    background-color: darkgray;
    font-size: 20px;
}
#gform:hover{
    background-color: black;
    color: darkgray;
}
#dresume{
    margin-top: 5%;
    border: black 1px solid;
    background-image: linear-gradient(to bottom , gray, cyan);
    color: black;
    font-size: 20px;

}
#dresume:hover{
    background-image: linear-gradient(to top , gray, cyan);
}

#dmail{
    margin-top: 5%;
    border: black 1px solid;
    background-color: darkgray;
    font-size: 20px;

}
#dmail:hover{
    background-color: black;
    color: darkgray;
}
#forms{
     display: none;
    text-align: center;
    background-color: darkgray;
}
#bbutton{
    width: 25%;
    margin-top: 5%;
    border: black 1px solid;
    background-color: darkgray;
    font-size: 20px;

}
#bbutton:hover{
    background-color: black;
    color: darkgray;
}
#reflect2{
    background-image: linear-gradient(to bottom right, gray, cyan);
    display: none;
    grid-column: 9/11;
    grid-row: 2;
}
#page1{
    width: 50%;
    margin-top: 5%;
    border: black 1px solid;
    background-image: linear-gradient(to bottom , gray, cyan);
    font-size: 20px;

}
#page1:hover{
    background-image: linear-gradient(to top , gray, cyan);
}
#page2{
    width: 40%;
    margin-top: 5%;
    border: black 1px solid;
    background-image: linear-gradient(to bottom , gray, cyan);
    font-size: 20px;

}
#page2:hover{
    background-image: linear-gradient(to top , gray, cyan);
}
#cont_sec{
    text-align: center;
    grid-column: 3/11;
    grid-row: 2;
}
.abmeText{
    font-size: 28px;

}
.amhead{
    font-size: 40px;
}
#resume:hover{
    border-color: yellow;
}
/*done*/